.contactItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #bbb;
    width: 260px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: white;
    
}

.contactInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contactName,
.contactNumber {
    font-weight: normal;
    margin: 0;
}

.contactNumber {
    display: flex;
    align-items: center;
    gap: 6px;
}

.delete {
    padding: 6px 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
}

.delete:hover {
    background-color: #e0e0e0;
}